@{
    ViewData["Title"] = "Home Page";
}

<div class="container head">
    <div class="row">
        <div class="col s12 greeting ">
            <h3>"Hi! My name is Olena Kuchko".</h3>
            <h4>Please choose category below to learn more about me!</h4>
        </div>
    </div>
</div>

<div class="carousel">
    <a class="carousel-item" href="#two!">Education<img src="~/images/3e7ed2b4c15b58d32986eef833c17289.png" /></a>
    <a class="carousel-item" href="#three!">Family<img src="~/images/download.jpg" /></a>
    <a class="carousel-item" href="#one!">Why I choose coding<img src="~/images/0GVkKrPj_400x400.png" /></a>
    <a class="carousel-item" href="#four!">Hobbies  <img src="~/images/hobbies.jpg" /></a>
</div>

<div class="container two">
    <div class="row">
        <div class="col s12">
            <div id="two!">
                <h3>About My education</h3>
                <p>
                    Lorem ipsum dolor sit amet, nullam doming mei ad, ea est solet voluptua deseruisse, in consequat urbanitas duo.
                    Ut doming nominati pro, at est omnes admodum corrumpit, ne eam odio mundi interpretaris. Mutat appareat luptatum vel et, diam brute urbanitas vix ea.
                    Quo laudem ignota at, eu eam perfecto tractatos contentiones. Ad nam offendit iracundia.
                </p>
                <p>
                    Illud assum cum ne, iuvaret partiendo theophrastus ex vim. Quo oblique scaevola electram ei, mea graeco admodum propriae id.
                    Mei sale habemus liberavisse ei. Eos purto soluta rationibus et, ad duo verear epicurei, maluisset reprimique efficiendi eum te.
                    Eu mei malis temporibus, nec an errem senserit. Ei albucius gloriatur scripserit vix, ignota vivendo per ad, cibo adipiscing quo ei.
                    Aliquam tibique ne vel, has no tation voluptatum. Ei eum dicat possim alienum, sed veri idque vivendum ei, quidam vocent scaevola sea et.
                    His elitr graeco salutatus ne, te graecis percipit abhorreant mea, has agam tota scribentur id.
                </p>
                <p>
                    Et reque laboramus sea, no decore mucius invidunt duo, nam eu quidam corrumpit suscipiantur.
                    Ne pro ullum elitr, et vel tota deseruisse, ea zril antiopam splendide cum. Mei etiam iusto in. Civibus commune nec ad, alia mazim est ut.
                    Nullam sanctus te eos. Eam ei stet nibh, mei in omnesque adolescens. Et quis animal epicurei vim, vix brute utinam insolens at, antiopam constituam eam ex.
                    Option accommodare ei sed. Equidem convenire definitionem vim et. Mel persecuti argumentum ex, ne molestiae mnesarchum sed. Ei nostrud docendi repudiandae his.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 one">
            <div id="one!">
                <h3>Why I choose coding</h3>
                <p>
                    Lorem ipsum dolor sit amet, nullam doming mei ad, ea est solet voluptua deseruisse, in consequat urbanitas duo.
                    Ut doming nominati pro, at est omnes admodum corrumpit, ne eam odio mundi interpretaris. Mutat appareat luptatum vel et, diam brute urbanitas vix ea.
                    Quo laudem ignota at, eu eam perfecto tractatos contentiones. Ad nam offendit iracundia.
                </p>
                <p>
                    Illud assum cum ne, iuvaret partiendo theophrastus ex vim. Quo oblique scaevola electram ei, mea graeco admodum propriae id.
                    Mei sale habemus liberavisse ei. Eos purto soluta rationibus et, ad duo verear epicurei, maluisset reprimique efficiendi eum te.
                    Eu mei malis temporibus, nec an errem senserit. Ei albucius gloriatur scripserit vix, ignota vivendo per ad, cibo adipiscing quo ei.
                    Aliquam tibique ne vel, has no tation voluptatum. Ei eum dicat possim alienum, sed veri idque vivendum ei, quidam vocent scaevola sea et.
                    His elitr graeco salutatus ne, te graecis percipit abhorreant mea, has agam tota scribentur id.
                </p>
                <p>
                    Et reque laboramus sea, no decore mucius invidunt duo, nam eu quidam corrumpit suscipiantur.
                    Ne pro ullum elitr, et vel tota deseruisse, ea zril antiopam splendide cum. Mei etiam iusto in. Civibus commune nec ad, alia mazim est ut.
                    Nullam sanctus te eos. Eam ei stet nibh, mei in omnesque adolescens. Et quis animal epicurei vim, vix brute utinam insolens at, antiopam constituam eam ex.
                    Option accommodare ei sed. Equidem convenire definitionem vim et. Mel persecuti argumentum ex, ne molestiae mnesarchum sed. Ei nostrud docendi repudiandae his.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container four">
    <div class="row">
        <div class="col s12">
            <div id="four!">
                <h3>My hobbies</h3>
                <p>
                    Lorem ipsum dolor sit amet, nullam doming mei ad, ea est solet voluptua deseruisse, in consequat urbanitas duo.
                    Ut doming nominati pro, at est omnes admodum corrumpit, ne eam odio mundi interpretaris. Mutat appareat luptatum vel et, diam brute urbanitas vix ea.
                    Quo laudem ignota at, eu eam perfecto tractatos contentiones. Ad nam offendit iracundia.
                </p>
                <p>
                    Illud assum cum ne, iuvaret partiendo theophrastus ex vim. Quo oblique scaevola electram ei, mea graeco admodum propriae id.
                    Mei sale habemus liberavisse ei. Eos purto soluta rationibus et, ad duo verear epicurei, maluisset reprimique efficiendi eum te.
                    Eu mei malis temporibus, nec an errem senserit. Ei albucius gloriatur scripserit vix, ignota vivendo per ad, cibo adipiscing quo ei.
                    Aliquam tibique ne vel, has no tation voluptatum. Ei eum dicat possim alienum, sed veri idque vivendum ei, quidam vocent scaevola sea et.
                    His elitr graeco salutatus ne, te graecis percipit abhorreant mea, has agam tota scribentur id.
                </p>
                <p>
                    Et reque laboramus sea, no decore mucius invidunt duo, nam eu quidam corrumpit suscipiantur.
                    Ne pro ullum elitr, et vel tota deseruisse, ea zril antiopam splendide cum. Mei etiam iusto in. Civibus commune nec ad, alia mazim est ut.
                    Nullam sanctus te eos. Eam ei stet nibh, mei in omnesque adolescens. Et quis animal epicurei vim, vix brute utinam insolens at, antiopam constituam eam ex.
                    Option accommodare ei sed. Equidem convenire definitionem vim et. Mel persecuti argumentum ex, ne molestiae mnesarchum sed. Ei nostrud docendi repudiandae his.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12 three">
            <div id="three!">
                <h3>My family</h3>
                <p>
                    Lorem ipsum dolor sit amet, nullam doming mei ad, ea est solet voluptua deseruisse, in consequat urbanitas duo.
                    Ut doming nominati pro, at est omnes admodum corrumpit, ne eam odio mundi interpretaris. Mutat appareat luptatum vel et, diam brute urbanitas vix ea.
                    Quo laudem ignota at, eu eam perfecto tractatos contentiones. Ad nam offendit iracundia.
                </p>
                <p>
                    Illud assum cum ne, iuvaret partiendo theophrastus ex vim. Quo oblique scaevola electram ei, mea graeco admodum propriae id.
                    Mei sale habemus liberavisse ei. Eos purto soluta rationibus et, ad duo verear epicurei, maluisset reprimique efficiendi eum te.
                    Eu mei malis temporibus, nec an errem senserit. Ei albucius gloriatur scripserit vix, ignota vivendo per ad, cibo adipiscing quo ei.
                    Aliquam tibique ne vel, has no tation voluptatum. Ei eum dicat possim alienum, sed veri idque vivendum ei, quidam vocent scaevola sea et.
                    His elitr graeco salutatus ne, te graecis percipit abhorreant mea, has agam tota scribentur id.
                </p>
                <p>
                    Et reque laboramus sea, no decore mucius invidunt duo, nam eu quidam corrumpit suscipiantur.
                    Ne pro ullum elitr, et vel tota deseruisse, ea zril antiopam splendide cum. Mei etiam iusto in. Civibus commune nec ad, alia mazim est ut.
                    Nullam sanctus te eos. Eam ei stet nibh, mei in omnesque adolescens. Et quis animal epicurei vim, vix brute utinam insolens at, antiopam constituam eam ex.
                    Option accommodare ei sed. Equidem convenire definitionem vim et. Mel persecuti argumentum ex, ne molestiae mnesarchum sed. Ei nostrud docendi repudiandae his.
                </p>
            </div>
        </div>
    </div>
</div>

