@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <div class="parallax-container">
        <div class="parallax"><img src="https://rebelleexpression.files.wordpress.com/2013/01/1349035758_442709312_1-pictures-of-programing-training-for-passionate-people.jpg"></div>
    </div>

    <div class="section white">
        <div class="row container">
            <h2 class="header">My way to programming</h2>
            <p class="grey-text text-darken-3 lighten-3">
                Lorem ipsum dolor sit amet, nullam doming mei ad, ea est solet voluptua deseruisse, in consequat urbanitas duo.
                Ut doming nominati pro, at est omnes admodum corrumpit, ne eam odio mundi interpretaris. Mutat appareat luptatum vel et, diam brute urbanitas vix ea.
                Quo laudem ignota at, eu eam perfecto tractatos contentiones. Ad nam offendit iracundia.
                Illud assum cum ne, iuvaret partiendo theophrastus ex vim. Quo oblique scaevola electram ei, mea graeco admodum propriae id.
                Mei sale habemus liberavisse ei. Eos purto soluta rationibus et, ad duo verear epicurei, maluisset reprimique efficiendi eum te.
                Eu mei malis temporibus, nec an errem senserit. Ei albucius gloriatur scripserit vix, ignota vivendo per ad, cibo adipiscing quo ei.
                Aliquam tibique ne vel, has no tation voluptatum. Ei eum dicat possim alienum, sed veri idque vivendum ei, quidam vocent scaevola sea et.
                His elitr graeco salutatus ne, te graecis percipit abhorreant mea, has agam tota scribentur id. Et reque laboramus sea, no decore mucius invidunt duo, nam eu quidam corrumpit suscipiantur.
                Ne pro ullum elitr, et vel tota deseruisse, ea zril antiopam splendide cum. Mei etiam iusto in. Civibus commune nec ad, alia mazim est ut.
                Nullam sanctus te eos. Eam ei stet nibh, mei in omnesque adolescens. Et quis animal epicurei vim, vix brute utinam insolens at, antiopam constituam eam ex.
                Option accommodare ei sed. Equidem convenire definitionem vim et. Mel persecuti argumentum ex, ne molestiae mnesarchum sed. Ei nostrud docendi repudiandae his.
            </p>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="https://previews.123rf.com/images/melpomen/melpomen1610/melpomen161000088/63871594-Programing-concept-with-a-tablet-on-blue-background-Stock-Photo.jpg"></div>
    </div>
</body>


