
body {
    font-family: 'Carter One', cursive;
    background-color: snow;
}
.one, .two, .three, .four {
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}
#menu-btn{
    width: 100px;
    position: absolute;
    background-color: #2f70a8
}
.user-view {
    height: 200px;
}
 .parallax-container {
      height: 400px;
 }

 .header {
     color: #252253;
 }
 .page-footer {
     background-color: #252253;
 }
 .carousel
 {
    height:600px !important;
 }
.carousel .carousel-item {
    margin-top: -100px;
    padding-top: -450px !important;
    width:400px !important;

}
.carousel-item {
    font-size: 18px;
    text-align:center;
}

.head {
    background-image: url('../images/back.jpg');
    width: 100%;
    max-width: initial;
    text-align: center;
    height: 200px;
}
 .greeting {
     color: #101265;
 }
 .one, .three{
    margin-top: 30px;
    width: 100%;
    max-width: initial;
    text-align: justify;
    color: #252253;
    
 }
.two {
    background-color:#427aa2;
    margin-top: 30px;
    width: 100%;
    max-width: initial;
    text-align: justify;
    color: tomato;
    max-width: initial;
    padding: 40px;
    color: #fcffe6;
    padding-right: 200px;
}

.four {
    margin-top: 30px;
    width: 100%;
    max-width: initial;
    text-align: justify;
    color: tomato;
    max-width: initial;
    padding: 40px;
    padding-left: 200px;
    color: #fcffe6;
    background-image: url('../images/backtwo.jpg');
}
.side-nav {
    background-color: #DEFFE0;
}